* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BarlowSemiCondensed-Bold'; /* Name of your font */
    src: url('../fonts/BarlowSemiCondensed-Bold.ttf') format('truetype'); /* TTF format */
}


body {
    background: linear-gradient(#1F3757, #131537);
    min-height: 100vh;
    color: #FFFFFF;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'BarlowSemiCondensed-Bold';
}

.game-header {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 48px;
    border: 2px solid rgba(185, 184, 194, 0.384);
    border-radius: 15px;
    padding: 20px;
    line-height: 1.15;
}

.game-header h1 {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scoreboard {
    display: flex;
    width: 125px;
    align-items: baseline;
    justify-content: center;
    background-color: whitesmoke;
    border: 5px solid rgb(86, 84, 104);
    border-radius: 10px;
}

.score-info {
    text-align: center;
    color: rgb(86, 84, 104);
    padding: 5px 10px;
}

.score-value {
    font-size: 64px;
}

.game-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 430px;
    margin-top: 72px;
    margin-bottom: 72px;
    gap: 32px 64px;
}

.action-button {
    border-radius: 50%;
    width: 208px;
    height: 213px;
    z-index: 2;
    transition: background-color 0.30s 0.05s ease-in, 
                box-shadow 0.30s 0.05s ease-in,
                transform 0.30s 0.05s ease-in;
}

.action-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px -5px 0px 25px rgba(255, 255, 255, 0.05);
    transform: scale(0.95);
    transition: all 0.35s 0.05s ease-in-out;
}

.path {
    width: 320px;
    height: 250px;
    position: absolute;
}

/* 
 * Styles tailored for dynamically generated DOM elements 
 * created through JavaScript, enhancing the display of 
 * game results, player selections, and interactive actions. 
 */

 .results-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px;
    column-gap: 100px;
 }

 .choice-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 293px;
    height: 375px;
    row-gap: 48px;
 }

 .choice-container h2 {
    text-align: center;
    font-size: 32px;
 }

 .outcome-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
 }

 .outcome-title {
    font-size: 58px;
 }

 .next-round-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #131537;
    cursor: pointer;
    transition: color 0.25s 0.40s ease-in, 
                background-color 0.6s 0.05s ease-in, 
                box-shadow 0.6s 0.05s ease-in;
 }

 .next-round-link:hover {
    color: #FFFFFF;
    background-color: #131537;
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0.05);
    transition: all 0.25s 0.05s ease-in;
 }

 .rounds-display {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px 32px;
 }










