* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1f4c87 0%, #1c1f56 100%);
    color: #FFFFFF;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-header {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 100px;
    margin-top: 48px;
}

.game-header h1 {
    width: 156px;
    height: 93px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 114px;
}

.game-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 476px;
    height: 430px;
    margin-top: 72px;
    margin-bottom: 72px;
    gap: 16px 32px;
}


.action-button {
    width: 198px;
    height: 203px;
}










